.login-area img{
    height: 40px;
    width: 150px;
    margin-bottom: 50px;
}
*{
    box-sizing: border-box;
}
.login-area{
    font-family: sans-serif;
    background: #232f3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: -20px 0 0px; */
}
.login-area h1{
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.login-area p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}
.login-area span{
    font-size: 12px;
}
.login-area a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.login-area a:hover{
    color: #ff9800;
    text-decoration: none;
}
.containerr{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 900px;/*768*/
    max-width: 100%;
    min-height: 650px;/*480*/
}
.form-container .form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.social-container{
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    width: 250px;
}
.social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.social-container .withGoogle{
    background: white;
    color: black;
    padding: 0;
    margin: 0;
    height: 40px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition:	all 0s ease 0s;
}
.social-container .withGoogle:hover{
    color: #ff9800;
}
.social-container:hover{
    border: 1px solid #ff9800;
}
.social-container img{
    margin: 5px 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
}
.overlay-panel .back-to-home{
    color: white;
    margin-top:100px ;
}
.overlay-panel .back-to-home:hover{
    color: white;
}
.login-area .hr{
    width: 100px;
    height: 5px;
    margin: 10px;
    background-color:  #ff9900;
    border-radius: 5px;
}
.hr-or{
    display: flex;
}
.hr-or h6{
    margin: 7px 0 0 0;
}
hr{
    width: 100px;
    height: 2px;
    color: black;
    margin: 10px 20px;
}
.form-container input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}

.login-area button{
    border-radius: 20px;
    border: 1px solid #ff9900;
    background: #ff9900;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.login-area button:active{
    transform: scale(0.95);
}
.login-area button:focus{
    outline: none;
}
.login-area button.ghost{
    background: transparent;
    border-color:#fff;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background: #ff9900;
    background: linear-gradient(to right, #ff9800, orangered) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;    
}
.overlay-panel{
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-right{
    right:0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}
.termsTag{
    color: gray;
}
.termsSpan{
    color: #ff9800;
    cursor: pointer;
}

/* Aminmation */

/* Move signin to the right */
.containerr.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

/* Move overlay to left */
.containerr.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
/* Bring sign up over sign in */
.containerr.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Move overlay back to right */
.containerr.right-panel-active .overlay{
    transform: translateX(50%);
}
.containerr.right-panel-active .overlay-left{
    transform: translateX(0);
}
.containerr.right-panel-active .overlay-right{
    transform: translateX(20%);
}
